:root {
    --clr-primary: #FACC15;
}

.list__item {
    min-width: 300px;
    width: 200px;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 1.2rem;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.list__detail {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 1.1rem; */
}

.list__img {
    width: 80px;
    /* border: 1px solid red; */
}

.list__btn {
    background: none;
    background-color: var(--clr-primary);
    color: inherit;
    border: none;
    padding: 0.2rem 1.5rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    place-content: center;
}

.selector {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2rem;
}

.lists {
    margin-bottom: 3.5rem;
}

.footer__list {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.selector {
    padding: 1rem 2rem;
}


.loading {
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
}