.list__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1.1rem;
    /* border: 1px solid red; */
}

.list__header {
    width: 90%;
    /* width: 500px; */
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    margin-right: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.list__btn {
    width: 10%;
    background: none;
    background-color: var(--clr-primary);
    color: inherit;
    border: none;
    padding: 0.8rem 1.5rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    place-content: center;
    transition: all .2s ease-in-out;
}

.list__header {
    cursor: pointer;
}


.list__btn:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}