<div class="player-info">
  <h2>player id {{ player.id }}</h2>
  <h2>player status {{ player.status }}</h2>
  <h2>player DBNOs {{ player.DBNOs }}</h2>
  <h2>player assists {{ player.assists }}</h2>
  <h2>player boosts {{ player.boosts }}</h2>
  <h2>player damageDealt {{ player.damageDealt }}</h2>
  <h2>player deathType {{ player.deathType }}</h2>
  <h2>player headshotKills {{ player.headshotKills }}</h2>
  <h2>player heals {{ player.heals }}</h2>
  <h2>player killPlace {{ player.killPlace }}</h2>
  <h2>player killStreaks {{ player.killStreaks }}</h2>
  <h2>player kills {{ player.kills }}</h2>
  <h2>player longestKill {{ player.longestKill }}</h2>
  <h2>player name {{ player.name }}</h2>
  <h2>player playerId{{ player.playerId }}</h2>
  <h2>player revives {{ player.revives }}</h2>
  <h2>player rideDistance {{ player.rideDistance }}</h2>
  <h2>player roadKills {{ player.roadKills }}</h2>
  <h2>player swimDistance {{ player.swimDistance }}</h2>
  <h2>player teamKills {{ player.teamKills }}</h2>
  <h2>player timeSurvived {{ player.timeSurvived }}</h2>
  <h2>player vehicleDestroys {{ player.vehicleDestroys }}</h2>
  <h2>player walkDistance {{ player.walkDistance }}</h2>
  <h2>player weaponsAcquired {{ player.weaponsAcquired }}</h2>
  <h2>player winPlace {{ player.winPlace }}</h2>
</div>
